@model App.Domain.Core.UserAgg.Dtos.RegisterUserDto
@{
    Layout = "_Layout";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow-sm w-100">
            <div class="card-body p-4">
                <h2 class="card-title mb-3 text-center">ثبت‌نام</h2>
                <p class="text-center text-muted mb-4">
                    حساب جدید بسازید — فقط چند ثانیه طول می‌کشد
                </p>

                <form method="post" enctype="multipart/form-data">
                    <div class="row g-3">

                        <div class="col-12 mb-3">
                            <label asp-for="UserName" class="form-label">نام کاربری</label>
                            <input type="text" class="form-control" asp-for="UserName" placeholder="ali20" required>
                        </div>

                        <div class="col-12 mb-4">
                            <label asp-for="Password" class="form-label">رمز عبور</label>
                            <input type="password" class="form-control" asp-for="Password" placeholder="رمز عبور" minlength="3" required>
                            <div class="form-text mt-1">حداقل 3 کاراکتر.</div>
                        </div>

                        <div class="col-12 d-grid mb-2">
                            <button type="submit" class="btn btn-primary btn-lg">ایجاد حساب</button>
                        </div>

                        <div class="col-12 text-center">
                            <div style="color:red">@ViewBag.Error</div>
                            <div style="color:green">@ViewBag.Success</div>
                        </div>

                        <div class="col-12 text-center mt-3">
                            <small class="text-muted">
                                حساب دارید؟
                                <a asp-controller="Account" asp-action="Login">وارد شوید</a>
                            </small>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
