@model List<App.Domain.Core.UserAgg.Dtos.GetUserTasksDto>
@{
    Layout = "_UserLayout";
}
<main class="flex-1 overflow-x-hidden overflow-y-auto md:mr-64 p-6 transition-all duration-300">

    <section id="table-section" class="mb-8">

        <h1 class="text-2xl font-semibold text-gray-700 mb-4" >مدیریت کار ها</h1>

    </section>

</main>